
body{
text-align: left;
font-family: poppins;
}
#card {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px rgb(119, 101, 101, 0.3);
    background: linear-gradient(rgb(240, 240, 130) 20%, white);

}



.picture {
    width: 300px;
}

#card-info {
    margin: 0px;
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: rgb(106, 221, 106);

}

.fact {
    font-style: italic;
}

.list {
    list-style: none;
    padding: 0px;
}

.label{
    font-weight: bold;
}